<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  <meta name="description" content="" />
  <meta name="keywords" content="" />
-->
  <title>N7I STATS</title>

  <link href="styles/Chart.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./styles/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p|Montserrat&display=swap" rel="stylesheet">

  <!-- https://fontawesome.com/icons?d=gallery -->
  <!--<script src="/scripts/all.js"></script> -->

  <style>
    * {
      font-family: 'M PLUS 1p', sans-serif;
    }

    ul>a {
      font-size: 5em;
    }

    .top {
      min-height: 2em;
      margin-top: 1em;
      text-align: center;
      color: white;
      cursor: pointer;
    }

    .top-1 {
      background-color: steelblue;
    }

    .top-2 {
      background-color: lightblue;
    }

    .top-3 {
      background-color: green;
    }

    .top-4 {
      background-color: orange;
    }

    .top-5 {
      background-color: red;
    }

    .current-view {
      color: black;
    }
  </style>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JP93TRQW1P"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-JP93TRQW1P');
  </script>

</head>

<body>
  <div id="vue-main" class="container-fluid">

    <!-- menu -->
    <div class="row justify-content-center mx-auto">
      <div class="col-lg-2 top top-1" v-on:click="state='live'" :class="state=='live' ? 'current-view' : '' ">
        <h1>LIVE</h1>
      </div>
      <div class="col-lg-2 top top-2" v-on:click="state='upcoming'" :class="state=='upcoming' ? 'current-view' : '' ">
        <h1>UPCOMING</h1>
      </div>
      <div class="col-lg-2 top top-3" v-on:click="state='record'" :class="state=='record' ? 'current-view' : '' ">
        <h1>RECORD</h1>
      </div>
      <div class="col-lg-2 top top-4" v-on:click="state='member'" :class="state=='member' ? 'current-view' : '' ">
        <h1>MEMBER</h1>
      </div>
      <div class="col-lg-2 top top-5" v-on:click="state='about'" :class="state=='about' ? 'current-view' : '' ">
        <h1>REPORT</h1>
      </div>
    </div>

    <!-- update time -->
    <div class="row justify-content-md-center" style="padding-top: 1em;"
      v-if="state != 'detail' && state != 'channel_detail'">
      <span style="margin-left: 1em;" v-if="state != 'member'" class="badge badge-info">{{ new
        Date(video_list.timestamp).toLocaleString() }}</span>
      <span style="margin-left: 1em;" v-if="state == 'member'" class="badge badge-info">{{ "Every Day 12:00:00+08:00"
        }}</span>
    </div>

    <hr />

    <!-- search keyword input -->
    <div v-if="state != 'detail' && state != 'channel_detail' && state != 'about' "
      class="form-group row justify-content-md-center ">
      <div class="col col-lg-4">
        <input class="form-control form-control-lg" type="text" placeholder="video_id , channel_id , word"
          v-model="keyword">
      </div>
      <!--<i class="far fa-comment-alt fa-3x"></i>-->
    </div>

    <hr />

    <!-- live block -->
    <div v-if="state == 'live'" class="row justify-content-center mx-auto">
      <table class="table table-hover table-responsive w-auto">
        <thead>
          <tr>
            <th class="" scope="col">Channel</th>
            <th class="" scope="col">Title</th>
            <th class="" scope="col" v-on:click="live_sort='play_time'">Duration {{ live_sort == "play_time" ? "▼" : ""
              }}</th>
            <th style="text-align: right;" scope="col" v-on:click="live_sort='online'">Online {{ live_sort == "online" ?
              "▼" : "" }}</th>
            <th style="text-align: right;" scope="col" v-on:click="live_sort='view'">View {{ live_sort == "view" ? "▼" :
              "" }}</th>
            <th style="text-align: right;" scope="col" v-on:click="live_sort='like'">Like {{ live_sort == "like" ? "▼" :
              "" }}</th>
            <th style="text-align: right;" scope="col" v-on:click="live_sort='dislike'">Dislike {{ live_sort ==
              "dislike" ? "▼" : "" }}</th>
            <th style="text-align: right;" scope="col" v-on:click="live_sort='chat'">Messages {{ live_sort == "chat" ?
              "▼" : "" }}</th>
            <th style="text-align: right;" scope="col" v-on:click="live_sort='sponsor'">Member {{ live_sort == "sponsor"
              ? "▼" : "" }}</th>
            <th style="text-align: right;" scope="col" v-on:click="live_sort='superchat'">SuperChat {{ live_sort ==
              "superchat" ? "▼" : "" }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-dark" v-for="item in live_list">
            <td><a target="_blank" v-bind:href="'https://www.youtube.com/channel/'+item.channel_id">{{
                item.channel_title }}</a></td>
            <td><a target="_blank" v-bind:href="'https://www.youtube.com/watch?v='+item.id">{{ item.title }}</a></td>
            <td>{{ getNewPlayTime(item.play_time) }}</td>
            <td style="text-align: right;">{{ getNumberWithCommas(item.live_view_count) }}</td>
            <td style="text-align: right;">{{ getNumberWithCommas(item.view_count) }}</td>
            <td style="text-align: right;">{{ getNumberWithCommas(item.like_count) }}</td>
            <td style="text-align: right;">{{ getNumberWithCommas(item.dislike_count) }}</td>
            <td style="text-align: right;">
              {{ getNumberWithCommas(item.chat_total) + " [+" + getNumberWithCommas(item.chat) + "]" }}</td>
            <td style="text-align: right;">{{ "+ " + getNumberWithCommas(item.new_sponsor) }}</td>
            <td style="text-align: right;">{{ "¥ " + getNumberWithCommas(item.amount_micros) }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- upcoming block -->
    <div v-if="state == 'upcoming'" class="row justify-content-center mx-auto">
      <table class="table table-hover table-responsive table-responsive-lg w-auto">
        <thead>
          <tr>
            <th scope="col">Channel</th>
            <th scope="col">Title</th>
            <th scope="col">ScheduledTime</th>
            <th style="text-align: right;" scope="col">Like</th>
            <th style="text-align: right;" scope="col">Dislike</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-dark" v-for="item in upcoming_list">
            <td><a target="_blank" v-bind:href="'https://www.youtube.com/channel/'+item.channel_id">{{
                item.channel_title }}</a></td>
            <td><a target="_blank" v-bind:href="'https://www.youtube.com/watch?v='+item.id">{{ item.title }}</a></td>
            <td>{{ new Date(item.live_sch_time).toLocaleString() }}</td>
            <td style="text-align: right;">{{ getNumberWithCommas(item.like_count) }}</td>
            <td style="text-align: right;">{{ getNumberWithCommas(item.dislike_count) }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- record block -->
    <div v-if="state == 'record'" class="row justify-content-center mx-auto">
      <table class="table table-hover table-responsive w-auto">
        <thead>
          <tr>
            <th class="" scope="col">Channel</th>
            <th class="" scope="col">Title</th>
            <th class="" scope="col" v-on:click="record_sort='start_time'">Start Time {{ record_sort == "start_time" ?
              "▼" : "" }}</th>
            <th scope="col" v-on:click="record_sort='play_time'">Duration</th>
            <th style="text-align: right;" scope="col" v-on:click="record_sort='chat'">Messages {{ record_sort == "chat"
              ? "▼" : "" }}</th>
            <th style="text-align: right;" scope="col" v-on:click="record_sort='sponsor'">Member {{ record_sort ==
              "sponsor" ? "▼" : "" }}</th>
            <th style="text-align: right;" scope="col" v-on:click="record_sort='superchat'">SuperChat {{ record_sort ==
              "superchat" ? "▼" : "" }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-dark" v-for="item in record_list" v-on:click="onClickDetail(item.id);">
            <td><a target="_blank" v-bind:href="'https://www.youtube.com/channel/'+item.channel_id">{{
                item.channel_title }}</a></td>
            <td><a target="_blank" v-bind:href="'https://www.youtube.com/watch?v='+item.id">{{ item.title }}</a></td>
            <td>{{ new Date(item.live_start_time).toLocaleString() }}</td>
            <td>{{ getNewPlayTime(item.play_time) }}</td>
            <td style="text-align: right;">{{ getNumberWithCommas(item.chat_total) }}</td>
            <td style="text-align: right;">{{ "+ " + getNumberWithCommas(item.new_sponsor) }}</td>
            <td style="text-align: right;">{{ "¥ " + getNumberWithCommas(item.amount_micros) }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- member block -->
    <div v-if="state == 'member'" class="row justify-content-center mx-auto">
      <table class="table table-hover text-nowrap table-responsive table-responsive-lg w-auto">
        <thead>
          <tr>
            <th scope="col">Channel</th>
            <th style="text-align: right;" scope="col" v-on:click="member_sort='view_count'">View Count {{ member_sort
              == "view_count" ? "▼" : "" }}</th>
            <th style="text-align: right;" scope="col" v-on:click="member_sort='sub_count'">Subscriber Count {{
              member_sort == "sub_count" ? "▼" : "" }}</th>
            <th style="text-align: right;" scope="col" v-on:click="member_sort='video_count'">Video Count {{ member_sort
              == "video_count" ? "▼" : "" }}</th>
            <th style="text-align: right;" title="This Month" scope="col" v-on:click="member_sort='total_time'">Total
              Time {{ member_sort == "total_time" ? "▼" : "" }} ※</th>
            <th style="text-align: right;" title="This Month" scope="col" v-on:click="member_sort='total_message'">Total
              Message {{ member_sort == "total_message" ? "▼" : "" }} ※</th>
            <th style="text-align: right;" title="This Month" scope="col" v-on:click="member_sort='total_new_member'">
              Total New Member {{ member_sort == "total_new_member" ? "▼" : "" }} ※</th>
            <th style="text-align: right;" title="This Month" scope="col" v-on:click="member_sort='sc_total'">Total
              SuperChat {{ member_sort == "sc_total" ? "▼" : "" }} ※</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-dark" v-for="item in channel_list"
            v-on:click="onClickChannelDetail(item.channel_id,item.channel_name);">
            <td><a target="_blank" v-bind:href="'https://www.youtube.com/channel/'+item.channel_id">{{ item.channel_name
                }}</a></td>
            <td style="text-align: right;" title="總計(當日總計-前日總計)">
              {{ getNumberWithCommas(item.view_count) + " (" + (item.view_count_diff != 0 ?
              getNumberWithCommas(item.view_count_diff) : "±0") + ")" }}
            </td>
            <td style="text-align: right;" title="總計(當日總計-前日總計)">
              {{ getNumberWithCommas(item.sub_count) + " (" + (item.sub_count_diff != 0 ?
              getNumberWithCommas(item.sub_count_diff) : "±0") + ")" }}
            </td>
            <td style="text-align: right;" title="總計(當日總計-前日總計)">
              {{ getNumberWithCommas(item.video_count) + " (" + (item.video_count_diff != 0 ?
              getNumberWithCommas(item.video_count_diff) : "±0") + ")" }}
            </td>

            <td style="text-align: right;" title="總計(當日總計-前日總計)">
              {{ getPlayTimeFromSec(item.play_time_num) + " (" + (item.play_time_num_diff != 0 ?
              getPlayTimeFromSec(item.play_time_num_diff) : "±0") + ")" }}
            </td>
            <td style="text-align: right;" title="總計(當日總計-前日總計)">
              {{ getNumberWithCommas(item.message_count) + " (" + (item.message_count_diff != 0 ?
              getNumberWithCommas(item.message_count_diff) : "±0") + ")" }}
            </td>
            <td style="text-align: right;" title="總計(當日總計-前日總計)">
              {{ getNumberWithCommas(item.new_member_count) + " (" + (item.new_member_count_diff != 0 ?
              getNumberWithCommas(item.new_member_count_diff) : "±0") + ")" }}
            </td>

            <td style="text-align: right;" title="總計(當日總計-前日總計)">
              {{ getNumberWithCommas(item.sc_total) + " (" + (item.sc_total_diff != 0 ?
              getNumberWithCommas(item.sc_total_diff) : "±0") + ")" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- record detail block -->
    <div class="row justify-content-center mx-auto" v-if="state == 'detail'">
      <!-- video title and channel title -->
      <div class="row justify-content-center mx-auto col-xl-12">
        <h1> <a target="_blank" v-bind:href="'https://www.youtube.com/watch?v='+detail_id+'&t='+detail_sec">{{
            detail_info.video_title }}</a>
        </h1>
      </div>
      <div class="row justify-content-center mx-auto col-xl-12">
        <h3> <a target="_blank" v-bind:href="'https://www.youtube.com/channel/'+detail_info.channel_id">{{
            detail_info.channel_title }}</a>
        </h3>
      </div>

      <!-- video info -->
      <div class="row col-xl-12 justify-content-center mx-auto" style="margin-top: 5em;">
        <table class="table table-hover text-nowrap table-responsive table-responsive-lg w-auto">
          <thead>
            <tr>
              <th scope="col">StartTime</th>
              <th scope="col">EndTime</th>
              <th scope="col">PlayTime</th>
              <th style="text-align: right;" scope="col">Total Message</th>
              <th style="text-align: right;" scope="col">Total SC</th>
              <th style="text-align: right;" scope="col">New Member</th>

            </tr>
          </thead>
          <tbody>
            <tr class="table-dark">
              <td>{{ new Date(detail_info.start_time).toLocaleString() }}</td>
              <td>{{ new Date(detail_info.end_time).toLocaleString() }} </td>
              <td>
                {{ getNewPlayTime(
                detail_info.duration.replace("PT","").replace("H",":").replace("M",":").replace("S","") ) }}
              </td>
              <td style="text-align: right;">
                {{ getNumberWithCommas(detail_info.reports.totals.total_messages_user +
                detail_info.reports.totals.total_messages_member + detail_info.reports.totals.total_messages_marker +
                detail_info.reports.totals.total_messages_mm) }}
              </td>
              <td style="text-align: right;">
                {{ getNumberWithCommas(detail_info.reports.totals.total_sc_user +
                detail_info.reports.totals.total_sc_member + detail_info.reports.totals.total_sc_marker +
                detail_info.reports.totals.total_sc_mm) }}
              </td>
              <td style="text-align: right;">{{ getNumberWithCommas(detail_info.reports.totals.total_new_member) }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- talker chart -->
      <div class="row col-xl-4 justify-content-center mx-auto" style="margin-top: 5em;">
        <h2 v-on:click="onClickTalker">LiveChat From {{ "(" + state_talker + ")" }}</h2>
        <canvas id="canvas_talker" style="width:100%;height:300px;">
        </canvas>
      </div>

      <!-- sc user chart -->
      <div class="row col-xl-4 justify-content-center mx-auto" style="margin-top: 5em;"
        v-if="(detail_info.reports.totals.total_sc_user + detail_info.reports.totals.total_sc_member + detail_info.reports.totals.total_sc_marker + detail_info.reports.totals.total_sc_mm) > 0">
        <h2 v-on:click="onClickSCUser">SuperChat From {{ "("+ state_scuser +")" }}</h2>
        <canvas id="canvas_scuser" style="width:100%;height:300px;">
        </canvas>
      </div>

      <!-- online chart -->
      <div class="row col-xl-12 justify-content-center mx-auto" style="margin-top: 5em;">
        <h2>Online / Chat</h2>
        <canvas id="canvas_online" style="width:100%;height:450px;">
        </canvas>
      </div>

      <!-- messages chart -->
      <div class="row col-xl-12 justify-content-center mx-auto" style="margin-top: 5em;">
        <h2>Message Count</h2>
        <canvas id="canvas_messages" style="width:100%;height:450px;">
        </canvas>
      </div>

      <!-- like chart -->
      <div class="row col-xl-12 justify-content-center mx-auto" style="margin-top: 5em;">
        <h2>Like / Dislike</h2>
        <canvas id="canvas_like" style="width:100%;height:450px;">
        </canvas>
      </div>

      <!-- SC chart -->
      <div class="row col-xl-12 justify-content-center mx-auto" style="margin-top: 5em;">
        <h2>Member / SuperChat</h2>
        <canvas id="canvas_amount" style="width:100%;height:450px;">
        </canvas>
      </div>

      <!-- top 10 chat user -->
      <div class="row col-xl-4 justify-content-center mx-auto" style="margin-top: 5em;">
        <div class="row col-xl-12 justify-content-center mx-auto">
          <h2>TOP 10 Chat User</h2>
        </div>

        <table class="table table-hover text-nowrap table-responsive table-responsive-lg w-auto h-100">
          <thead>
            <tr>
              <th scope="col">User name</th>
              <th scope="col">Message Count</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-dark" v-for="item in detail_info.reports.tables.top_chat_list">
              <td><a target="_blank" v-bind:href="'https://www.youtube.com/channel/'+ item.value.user_id">{{ item.key
                  }}</a></td>
              <td>{{ getNumberWithCommas(item.value.count_message) }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- marker user list -->
      <div class="row col-xl-8 justify-content-center mx-auto" style="margin-top: 5em;"
        v-if="detail_info.reports.tables.mod_chat_list.length > 0">
        <div class="row col-xl-12 justify-content-center mx-auto">
          <h2>Mark User List</h2>
        </div>
        <table class="table table-hover text-nowrap table-responsive table-responsive-lg w-auto h-100">
          <thead>
            <tr>
              <th scope="col">Timeline</th>
              <th scope="col">User Name</th>
              <th scope="col">Messages</th>
              <th scope="col">SuperChat</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-dark" v-for="item in detail_info.reports.tables.mod_chat_list">
              <td><a target="_blank"
                  v-bind:href="'https://www.youtube.com/watch?v='+ item.video_id + '&t=' + getPlayTimeNum(item.play_time) ">{{
                  getNewPlayTime(item.play_time) }}</a>
              </td>
              <td><a target="_blank" v-bind:href="'https://www.youtube.com/channel/'+ item.user_id">{{ item.user_name
                  }}</a></td>
              <td>{{ item.content }}</td>
              <td>{{ "¥ " + item.amount_micros }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <!-- channel detail block -->
    <div class="row justify-content-center mx-auto" v-if="state == 'channel_detail'">
      <div class="row col-xl-12 justify-content-center mx-auto">
        <h1><a target="_blank" v-bind:href="'https://www.youtube.com/channel/'+ detail_id">{{ detail_title }}</a></h1>
      </div>

      <!-- channel info -->
      <div class="row col-xl-12 justify-content-center mx-auto" style="margin-top: 5em;">
        <div class="row col-xl-12 justify-content-center mx-auto" style="margin-bottom: 1em;">
          <h2 title="">Channel Stat [Last 30 Days]</h2>
        </div>

        <div class="row col-xl-12 justify-content-center mx-auto">
          <table class="table table-hover text-nowrap table-responsive table-responsive-lg w-auto">
            <thead>
              <tr>
                <th style="text-align: right;" scope="col">Total Play Time</th>
                <th style="text-align: right;" scope="col">Total Video Count</th>
                <th style="text-align: right;" scope="col">Total Message</th>
                <th style="text-align: right;" scope="col">Total SuperChat</th>
                <th style="text-align: right;" scope="col">Total New Member</th>

              </tr>
            </thead>
            <tbody>
              <tr class="table-dark">
                <td style="text-align: right;">
                  {{ getPlayTimeFromSec(detail_channel_info.totals.total_play_time) }}
                </td>
                <td style="text-align: right;">{{ getNumberWithCommas(detail_channel_info.totals.total_video_count) }}
                </td>
                <td style="text-align: right;">
                  {{ getNumberWithCommas(detail_channel_info.totals.total_messages) }}
                </td>
                <td style="text-align: right;">
                  {{ getNumberWithCommas(detail_channel_info.totals.total_sc) }}
                </td>
                <td style="text-align: right;">{{ getNumberWithCommas(detail_channel_info.totals.total_new_member) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class="row col-xl-10 justify-content-center mx-auto" style="margin-top: 1em;">
        <h2 title="x=date y=count">Subscriber Add / View Add / SuperChat [Last 30 Days]</h2>
        <canvas id="canvas_channel_info" style="width:100%;height:300px;">
        </canvas>

        <h2 title="x=date y=hour" style="margin-top: 1em;">Video Time [Last 30 Days]</h2>
        <canvas id="canvas_channel_video_time" style="width:100%;height:200px;">
        </canvas>
      </div>

    </div>

    <div v-if="state == 'about'" class="row text-center justify-content-center mx-auto">
      <ol>
        <ul><a href="https://twitter.com/bot_n7ifans" target="_blank">Twitter</a></ul>
        <ul><a href="https://n7i-fans.pickoma.com/summary/?yyyy=2020&mm=08" target="_blank">2020-08</a></ul>
        <ul><a href="https://n7i-fans.pickoma.com/summary/?yyyy=2020&mm=09" target="_blank">2020-09</a></ul>
        <ul><a href="https://n7i-fans.pickoma.com/summary/?yyyy=2020&mm=10" target="_blank">2020-10</a></ul>
      </ol>
    </div>
  </div>

  <a href="https://github.com/Kcars/n7i" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;"
    src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
    alt="Fork me on GitHub"
    data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

  <!-- script block -->
  <script src="./scripts/axios.min.js"></script>

  <script src="./scripts/vue.min.js"></script>
  <script src="./scripts/vue-router.js"></script>

  <!--<script src="./scripts/d3.min.js"></script>-->
  <!--<script src="./scripts/d3-cloud.min.js"></script>-->

  <!--<script src="./scripts/wordcloud2.js"></script>-->
  <script src="./scripts/Chart.min.js"></script>
  <script src="./scripts/main.js"></script>

</body>

</html>